# Ambientes virtuais
.venv/
env/
venv/

# Arquivos de ambiente
.env
.env.*

# Cache e temporários Python
__pycache__/
*.py[cod]
*$py.class

# Migrations (exceto __init__.py)
*/migrations/*
!*/migrations/__init__.py

# Configurações do editor
.vscode/
.idea/

# Ambientes virtuais
backend/.venv/
backend/env/
backend/venv/

# Arquivos de ambiente
backend/.env
backend/.env.*
